body {
  margin-top: 50px;
  background-color: #022b35 !important;
  color: #7c9496 !important;
}

h6 {
  color: #7c9496 !important;
}

a {
  color: #aa881c !important;
}

iframe {
  width: 100%;
}

li {
  padding: 10px 20px !important;
}

.row {
  max-width: none !important;
}

#metro {
  background: #004050;
  margin: 0 auto;
  padding: 50px;
}

.tile {
  background: white;
  margin: 0px 10px 10px 0px;
  display: inline-block;
}
